@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lato:wght@300&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Cinzel, sans-serif;
    font-weight: 280;
    color: black;
}

/* Headings and Logo */ 

h1, 
h2 {
    font-family: Cinzel, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

#logo {
    float: left;
    font-size: 300%;
}

/* Navigation links */

#menu {
    font-size: 125%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    
}

#menu a:hover {
    border-bottom: 1px solid gold;
}

.active {
    border-bottom: 1px solid gold;
}