@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lato:wght@300&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Cinzel, sans-serif;
    font-weight: 280;
    color: black;
    background-image: url(../images/background.jpg);
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

#castles {
    background: rgba(148, 141, 101, 0.39);
}

/* Headings and Logo */ 

h1,
h2,
h3 {
    font-family: Cinzel, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
    margin: 5%;
}

#logo {
    float: left;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}

/* Navigation links */

#menu {
    font-size: 1.2rem;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    
}

#menu a:hover {
    border-bottom: 1px solid gold;
}

#active {
    border-bottom: 1px solid gold;
}

/* Background Image */

#background-castle {
    height: 800px;
    width: 100%;
    background: url('../images/backround-castle.png') no-repeat;
    background-position: center center;
    background-size: 103%;
    border-bottom: gold solid 1px;
    box-shadow: 0 10px 5px  grey;
}

/* Main text section two */

#main-text {
    color: black;
    text-align: center;
    margin-top: 10%;
}

#main-text h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* button section two*/


#button {
    color: black;
    text-align: center;
    margin-bottom: 10%;
    font-size: 1.5rem;
}


#button a:hover {
    border-bottom: 1px solid gold;  
    background: rgba(219, 206, 133, 0.671);
    border-radius: 10%;
} 

/* Castles */

.photo-text-box-two {
	width: 50%;
	margin-top: 20%;
	display: inline-block;
    margin: 10% 25% 0% 25%;
    text-align: center; 
}

h2 {
    margin-top: 3%;
}

p {
    margin-top: 5%;
    text-align: center;
    text-align: justify;
    margin-bottom: 5%;
} 

div p:hover {
    background-color: rgba(199, 194, 194, 0.596);
}

a {
    text-align: center;
    text-decoration: none;
 }

div a:hover {
    border-bottom: 1px solid gold;
 }

#img {
    opacity: 0.7;
    display: inline-block;  
    border-radius: 10px;
 }
  
  img:hover {
    opacity: 1.0;
    box-shadow: 10px 10px 5px grey;
  }
  
/* contact section signup */

.signup-form {
    margin: 20% 0% 20% 30%;
    color: rgb(0, 0, 0);
    background-color: rgba(224, 207, 57, 0.514);
    max-width: 600px;
    padding: 70px;
    box-shadow: 10px 10px 5px grey;
}

.text-input {
    color: #000000;
    width: 100%;
    height: 25px;
    border-radius: 2px;  
}

 .signup-form h2 {
    color: #000000;
    margin-left: 235px;
}

.join-button {
     margin-top: 20px;
     border-radius: 2px;
     padding: 15px 32px 15px 32px;
     text-align: center;
     font-size: 100%;
     background-color: #000000;
     color: #fafafa;
     display: block;
     margin-left: 235px;
 }
 
 .join-button:hover {
     color: #000000;
     background-color: #fafafa;
 }


/* footer */

footer {
    height: 150px;
    border-top: gold solid 1px;
    margin-top: 10%;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 2rem;
    margin: 1px;
    padding: 5%;
    color: black;
}

.copyrights {
    text-align: center;
    margin-bottom: 10px;
}
/*For medium screens sizes from 1200px and down */
@media screen and (max-width: 1200px) {
     #background-castle {
         width: 100%;
         height: 1200px;
         margin: 0 auto;
     }
     #img {
         clear: both;
         width: 100%;
         float: center;
         padding: 0;
     }
     #h2, #p {
         float: center;
         margin: 0 auto;
         padding: 0;
     }
     #hr {
         display: none;
     }
}
/*For medium screens sizes from 950px and down */

@media screen and (max-width: 950px) {
#menu {
    clear: left;
    float: left;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .img {
      max-width: 90%;
      width: auto;
      padding: 0;
      margin: 0;
  }
  #h2, #p {
    margin: 0 auto;
    padding: 0;
    text-align: center center;
  }
}

/*For medium screens sizes from 800px and down */

@media only screen and (max-width: 800px) {
    img {
      width: 135%;
    }
  }
