@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lato:wght@300&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Cinzel, sans-serif;
    font-weight: 280;
    color: black;
    background-image: url(../images/marble-1006628.jpg);
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

/* Headings and Logo */ 

h1,
h2,
h3 {
    font-family: Cinzel, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

/* Navigation links */

#menu {
    font-size: 125%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    
}

#menu a:hover {
    border-bottom: 1px solid gold;
}


/* Background Image */

#mobile-image {
    height: 800px;
    width: 100%;
    background: url('../images/backround\ castle.png') no-repeat;
    background-position: center center;
    background-size: 103%;
}

/* Main text section two */

#main-text {
    color: black;
    text-align: center;
}

#main-text h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* button section two*/


#button {
    margin-top: 30px;
    color: black;
    text-align: center;
}


#button a:hover {
    border-bottom: 1px solid gold;  
} 

/* footer */

.footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1px;
    padding: 5%;
    color: black;
}

/* Castles */

.photo-text-box-two {
	width: 50%;
	margin: 1rem 0;
	display: inline-block;
    margin: 10% 25% 0% 25%;
    text-align: center;
    
}

h2 {
    margin-top: 3%;
}

p {
    margin-top: 1%;
    text-align: center;
}

div p:hover {
    background-color: rgba(199, 194, 194, 0.596);
}

a {
    text-align: center;
    text-decoration: none;
}

div a:hover {
    border-bottom: 1px solid gold;
}

img {
    opacity: 0.7;
  }
  
  img:hover {
    opacity: 1.0;
  }

/* contact section */
